<lens-shifter-profile-form inline-template>
<%= simple_form_for(@profile) do |f| %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :first_name, required: true, wrapper_html: {class: 'column small-12 medium-6 large-6'} %>
      <%= f.input :last_name, required: true, wrapper_html: {class: 'column small-12 medium-6 large-6'} %>
    </div>
    <%= f.input :birthdate, as: :date, html5: true %>

    <%= f.input :gender, as: :select, collection: Profile::GENDERS %>
    
    <div class="input string optional profile_location relative-block">
      <label for="profile_location" class="string optional">Location</label>

      <input v-model="location" type="text" name="profile[location]" id="profile_location" aria-controls="places" data-is-focus="true" data-yeti-box="places" aria-haspopup="true" aria-expanded="false" class="string optional dropdown-input"  v-on:input="getLocation" v-on:focus="focus" v-on:blur="blur" v-on:keyup.enter="keyEnter" v-on:keydown.tab="keyEnter" v-on:keyup.up="keyUp" v-on:keydown.down="keyDown">
      
      <ul v-if="isActive" class="dropdown-options" id='places'>
        <li v-if="isActive" v-for="(place, index) in suggestions" v-on:click="selectPlace(index)" :class="['select-option-item', {'select-option-active': index === cursor}]" v-on:mouseover="cursor = index">{{place.name}}</li>
      </ul>
    </div>
    <%= f.input :address, as: :text, as: :hidden, input_html: {'v-bind:value': 'address'} %>
    
    
    <%= f.input :sector, as: :select, collection: Profile::SECTORS %>
    <%= f.input :referral, as: :check_boxes, collection: Profile::REFERRERS, label: "How did you hear about us?" %>
    <%= f.input :comment %>
    <%= f.input :avatar, label: 'Upload Profile Image', as: :image_preview, input_html: { preview_version: :thumb } %>
    <%= f.input :contact_consent, label: "Keep me updated about LensShift by subscribing me to LensShift's newsletter" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


</lens-shifter-profile-form>
