<%= simple_form_for @stream, url: fellow_stream_path do |f| %>
  <%= f.input :title %>
  <%= f.input :description, input_html: {class: "shorter-summary-text"} %>
  <div class="row">
    <div class="column small-12 medium-3 large-3">
      <%= f.input :estimated_reading_time, label: 'Reading time' %>
    </div>
    <div class="column small-12 medium-5 large-5">
      <%= f.association :lens_shifter, label: 'LensShifter', label_method: :full_name, value_method: :id, include_blank: true, selected: f.object.lens_shifter_id %>
    </div>
    <div class="column small-12 medium-4 large-4">
      <%= f.input :published_at, as: :date, html5: true, label: 'Publish Date' %>
    </div>
  </div>
  <%= f.input :guiding_questions, input_html: {class: "shorter-summary-text"} %>
  <%= f.input :tag_list %>
  <%= f.association :lens_shifter, label: 'LensShifter', label_method: :full_name, value_method: :id, include_blank: true, selected: f.object.lens_shifter_id %>

    <% @stream.lessons.order(:row_order).each_with_index do |lesson, index| %>
      <%= f.simple_fields_for :lessons, lesson do |l| %>
        <%= l.input :title, label: "Lesson #{index + 1} Title" %>
        <%= l.input :analysis, label: "At a Glance:", input_html: {class: "shorter-summary-text"} %>
        <table>
          <thead><tr><th colspan="2">Resources</th></tr></thead>
          <tbody>
          <% l.object.resource_items.order("syllabuses.row_order").each do |resource| %>
            <tr>
              <td><%= resource.google_doc_id %></td>
              <td><%= resource.title %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>

  <%= f.button :submit %>
<% end %>