<stream-fellow-list inline-template>
<div>
<p id="notice"><%= notice %></p>

<h1>Streams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>LS Author</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.title %></td>
        <td><%= stream.lens_shifter.full_name %></td>
        <td ref="streamPublishDate<%= stream.id %>"><%= stream.published_at.strftime("%m/%d/%Y") if stream.published_at? %></td>
        <td ref="streamStatus<%= stream.id %>">
              <% if stream.published_at? && stream.published_at <= Time.zone.now %>
                <span class="label success">published</span>
              <% elsif stream.published_at? && stream.published_at > Time.zone.now %>
                <span  class="label success">date set</span>
              <% else %>
                <button class="button table-button" v-on:click="publishNow(<%= stream.id %>, '<%= form_authenticity_token %>')">Publish</button>
              <% end %>
        </td>
        <td><%= link_to 'Edit', edit_fellow_stream_path(stream) %></td>
        <td><%= delete_button_to 'Delete',  fellow_stream_path(stream), class: 'button table-button alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream', new_fellow_stream_path %>
</div>
</stream-fellow-list>