
<div class="grid-x grid-margin-x">
	<div class="cell small-12 medium-10 large-10 medium-offset-1 large-offset-1">
    	<h1>New Resource</h1>
		<%= simple_form_for @resource_item, url: fellow_resource_items_path, method: :post do |f| %>
			
			<%= f.input :title, input_html: {value: @parsed_file['Title']} %>
		    <%= f.input :author, input_html: {value: @parsed_file['Author/Creator']} %>
		    <%= f.input :source_url, input_html: {value: @parsed_file['Link']} %>
		    <div class="grid-x grid-margin-x">
			    <div class="cell small-12 medium-6 large-4">
			    	<%= f.input :estimated_reading_time, input_html: {value: @parsed_file['Estimated-Reading/Viewing-Time'].gsub(/[^0-9]/, '')} %>
			    </div>
			    <div class="cell small-12 medium-6 large-4">
			    	<%= f.input :resource_type, input_html: {value: @parsed_file['Type']} %>
			    </div>
			    <div class="cell small-12 medium-6 large-4">
			    	<%= f.input :google_doc_id, input_html: {value: @file.title.gsub(/[^0-9]/, '')} %>
			    </div>
			    <div class="cell small-12 medium-6 large-4">
			    	<%= f.input :published_at, as: :date, html5: true, input_html: {value: @parsed_file['Date-Published']} %>
			    </div>
			    <div class="cell small-12 medium-6 large-4">
			    	<%= f.association :lens_shifter, label_method: :full_name, value_method: :id, include_blank: true, input_html: {value: @parsed_file['LS-Initial-Author']} %>
				</div>
			    <div class="cell small-12 medium-6 large-4">
			    	<%= f.input :feature %>
			    </div>
			</div>
			<%= f.input :tag_list, input_html: {value: @parsed_file['Updated-tags']} %>
		    <%= f.input :short_summary, input_html: {value: @parsed_file['Short-Summary'], class: 'short-summary-text'} %>
		   			    <%= f.input :key_takeaways, input_html: {value: @parsed_file['Key-Takeaways'], class: 'short-summary-text'} %>
		    <%= f.input :analysis_content, input_html: {value: @parsed_file['Analysis-Content'], class: 'long-summary-text'} %>
		    <%= f.input :image, as: :image_preview, input_html: {preview_version: :thumb} %>
		    <%= f.input :remote_image_url, input_htm: {value: @parsed_file['image']} %>
		    <div class="button-group">
		    	<%= link_to 'Cancel', import_fellow_resource_items_path, class: 'warning button' %>
		    	<%= f.button :submit, input_html: {class: 'button'} %>
			</div>
		<% end %>
	</div>
</div>	
<div class="grid-x grid-margin-x">
	<div class="cell small-12 medium-8 large-8 medium-offset-2 large-offset-2">
		<h2>Article:</h2>
    		<div class="article-preview">
				<h3 class="text-center"><%= @article.title %></h3>
				<p><%= @article.description %></p>
				<div class="grid-x grid-margin-x">
					<% @article.images.each do |image| %>
						<div class="cell small-12 medium-6 large-6">
							<%=image_tag image, class: 'thumbnail' %>
						</div>
					<% end %>
				</div>
			</div>
	</div>
	</div>