<div class="grid-x grid-padding-x">
		<%= simple_form_for (@resource_item), url: fellow_resource_item_path, method: :patch do |f| %>
			<small><strong>(edit preview)</strong></small>
			<%= render partial: 'form', resource_item: @resource_item, locals: {:f => f} %>

			<div class="button-group">
        		<%= link_to 'Cancel', import_google_fellow_resource_items_path, class: 'warning button' %>
        		<%= f.button :submit %>
    		</div>
		<% end %>
		<%= link_to 'Show', @resource_item %> |
		<%= link_to 'Back', resource_items_path %>

</div>