<div class="grid-x grid-margin-x">
<div class="cell small-12 medium-12 large-12">
	
	<h1>Google Drive Docs</h1>

		<table>
	        <thead>
	          <tr>
	            <th>file name</th>
	            <td>id</td>
	            <th></th>
	            <th></th>
	            <th></th>
	          </tr>
	        </thead>

	        <tbody>
				<% @files.each do |file| %>
					<tr>
					<td><%= file.title %></td>
					<td><small><%= truncate(file.id, :length => 10) %></small></td>
					<% if ResourceItem.exists?(google_doc_id: file.title.gsub(/[^0-9]/, '')) %>
						<td><span class='label success'>imported</span>
						<td><small><%= ResourceItem.find_by(google_doc_id: file.title.gsub(/[^0-9]/, '')).created_at.strftime("%m/%d/%y") %></small></td>
						<td><%= link_to 'Edit', edit_fellow_resource_item_path(ResourceItem.find_by(google_doc_id: file.title.gsub(/[^0-9]/, ''))) %></td>
					<% else %>
						<td></td>
						<td></td>
						<td><%= link_to 'Show', doc_fellow_resource_items_path(file_id: file.id) %></td>
					<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>