<resource-fellow-list inline-template>
	<div class="grid-x grid-margin-x">
		<div class="cell">
		
			<h1 class="inline-heading">Resource Library Admin</h1>
			<%= link_to 'New Resource', new_fellow_resource_item_path, class: 'button' %><br />
			Total No. of Resources: <%= @resource_items.size %>
			<table>
		        <thead>
		          <tr>
		          	<th><%= link_to fellow_resource_items_path(sort: 'id') do %>id <i v-if="sortParams === 'id'" class="fa fa-sort-down"></i><% end %></i></th>
		            <th><%= link_to fellow_resource_items_path(sort: 'google_doc_id') do %>GD id<i v-if="sortParams === 'google_doc_id'" class="fa fa-sort-down"> </i><% end %></th>
		            <th><%= link_to fellow_resource_items_path(sort: 'title') do %>Title <i v-if="sortParams === 'title'" class="fa fa-sort-down"></i><% end %></th>
		            <th><%= link_to fellow_resource_items_path(sort: 'published_at') do %>Publish Date <i v-if="sortParams === 'published_at'" class="fa fa-sort-down"></i><% end %></th>
		            <th>LS Author</th>
		            <th>Featured</th>
		            <th>Streams</th>
		            <th></th>
		            <th></th>
		            <th></th>
		          </tr>
		        </thead>

		        <tbody>
					<% @resource_items.each_with_index do |resource_item, index| %>
						<tr>
							<td><%= resource_item.id %></td>
							<td><%= resource_item.google_doc_id %></td>
							<td><%= resource_item.title %></td>
							<td ref="resourcePublishDate<%= resource_item.id %>"><%= resource_item.published_at.strftime("%m/%d/%Y") if resource_item.published_at? %></td>
							<td><%= resource_item.lens_shifter.full_name %></td>
							<td><%= resource_item.feature ? "<span class='success label'>featured</span>".html_safe : '' %></td>
							<td><% resource_item.lessons.each do |lesson| %>
								No. <%= lesson.stream.id %>  
								<% end %>
							</td>
							<td><%= link_to 'Edit', edit_fellow_resource_item_path(resource_item.id) %></td>
							<td ref="resourceStatus<%= resource_item.id %>" key="resourceKey<%= resource_item.id %>">
								<% if resource_item.published_at? && resource_item.published_at <= Time.zone.now %>
									<div class="publish-status">
										<span class="label success published-tag">published</span>
										<button class="button table-button warning unpublish-button small" v-on:click="unpublishNow(<%= resource_item.id %>, $event)">Unpublish</button>
									</div>
								<% elsif resource_item.published_at? && resource_item.published_at > Time.zone.now %>
									<span  class="label success">date set</span>
								<% else %>
									<button class="button table-button small" v-on:click="publishNow(<%= resource_item.id %>, $event)">Publish</button>
								<% end %>
							</td>
							<td><%= delete_button_to 'Delete', fellow_resource_item_path(resource_item), data: {confirm: 'Are you sure?'}, class: 'button table-button alert small' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</resource-fellow-list>