<div class="grid-x grid-margin-x">
	<div class="cell small-12 medium-10 large-10 medium-offset-1 large-offset-1">
		<h1>New Resource Item</h1>

		<%= simple_form_for (@resource_item), url: fellow_resource_items_path, method: :post do |f| %>
			
			<%= render partial: 'form', resource_item: @resource_item, locals: {:f => f} %>

			<div class="button-group">
        		<%= link_to 'Cancel', import_google_fellow_resource_items_path, class: 'warning button' %>
        		<%= f.button :submit, input_html: {class: 'button'} %>
    		</div>
		<% end %>

		<%= link_to 'Back', resource_items_path %>
	</div>
</div>