<div class='row align-center'>

<div class="column small-12 medium-12 large-12">

  <h1>Static Pages</h1>

  <table>
    <thead>
      <tr>
        <th>Page</th>
        <th>LS Author</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.lens_shifter.full_name %></td>
          <td><%= link_to 'Edit', edit_fellow_static_page_path(page) %></td>
          <td><%= delete_button_to 'Delete',  fellow_static_page_url(page), data: {confirm: 'Are you sure?'}, class: 'button table-button alert' %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <br />

  <%= link_to 'New Static Page', new_fellow_static_page_path %>
</div>
</div>