<div class="grid-x grid-padding-x">
  <div class="small-12 medium-auto large-auto cell">
     <p>
      <h1><%= @resource_item.title %></h1>
      <% if current_lens_shifter.try(:admin?) %>
        <%= link_to 'edit resource', edit_fellow_resource_item_path(@resource_item), class: 'button' %>
      <% end %>
    </p>
    <p><small><i>Added: <%= @resource_item.published_at.strftime("%m-%d-%Y") if !@resource_item.published_at.nil? %></i></small></p>

    <p>
      <%= @resource_item.short_summary.html_safe %>
    </p>

    <p>
      <% @resource_item.tag_list.each do |tag| %>
        <span class="label secondary"><%= tag %></span>
      <% end %>
    </p>
    <table class="unstriped hide-for-small-only">
      <thead>
        <tr>
          <td><small>Type</small></td>
          <td><small>Reading Time</small></td>
          <td><small>Author</small></td>
          <td><small>Date</small></td>
          <td><small>Source</small></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><small><%= @resource_item.resource_type %></small></td>
          <td><small><%= @resource_item.estimated_reading_time %> minutes<small></td>
          <td><small><%= @resource_item.author_list.to_s.upcase %></small></td>
          <td><small><%= @resource_item.article_date.strftime("%m-%d-%Y") if !@resource_item.article_date.nil? %></small></td>
          <td><small><%= @resource_item.source_url.match("((.*?\/.*?){2})\/") %></small></td>
        </tr>
      </tbody>
    </table>
    <table class="unstriped show-for-small-only">
      <thead>
        <tr>
          <td><small>Type</small></td>
          <td><small>Reading Time</small></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><small><%= @resource_item.resource_type %></small></td>
          <td><small><%= @resource_item.estimated_reading_time %> minutes</small></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td><small>Author</small></td>
          <td><small>Date</small></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><small><%= @resource_item.author_list %></small></td>
          <td><small><%= @resource_item.published_at %></small></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td colspan="2"><small>Source</small></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"><small><%= @resource_item.source_url.match("((.*?\/.*?){2})\/") %></small></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if @resource_item.image.present? %>
    <div class="small-12 medium-5 large-5 cell">
      <%= image_tag @resource_item.image_url %>
    </div>
  <% end %>
  <div class="small-12 medium-12 large-12 cell">
    <table>
        <thead><tr><th>Key Takeaways</th></tr></thead>
        <tbody>
          <tr><td><%= @resource_item.key_takeaways.html_safe if @resource_item.key_takeaways%></td></tr>
        </tbody>
    </table>
  </div>

  <div class="small-12 medium-12 large-12 cell analysis-content">
    <%= @resource_item.analysis_content.html_safe if @resource_item.analysis_content %>
  </div>

  
    <br class="clr" />
    <br />

    <% if @resource_item.resource_type == 'video' || @resource_item.resource_type == 'podcast' %>
      <div class="small-12 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell content-container"><%= @resource_item.video_embed.html_safe if @resource_item.video_embed %></div>
    <% elsif @resource_item.resource_type == 'graphic' %>
      <div lass="small-12 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell content-container"><%= image_tag @resource_item.image_url %></div>
    <% else %>
      <% if !@resource_item.article_content.nil? && !@resource_item.no_iframe %>

          <div class="iframe-head is-orange small-12 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell">From <%= @resource_item.source_url.match("((.*?\/.*?){2})\/") %></div>
          <iframe srcdoc="<%= @resource_item.article_content %>" class="small-12 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell resource-iframe"></iframe>

      <% elsif URI.parse(@resource_item.source_url).scheme == 'https' && !@resource_item.no_iframe %>

        <div class="iframe-head is-orange small-12 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell">From <%= @resource_item.source_url.match("((.*?\/.*?){2})\/") %></div>
          <iframe src="<%= @resource_item.source_url %>" class="small-12 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 cell resource-iframe"></iframe>

      <% else %>
          <div class="small-12 medium-12 large-12 cell "><strong></strong> <%= link_to 'Click here to read more about it', @resource_item.source_url, alt: 'resource link', :target => "_blank", class: 'button is-orange' %></div>

      <% end %>



    <% end %>
 
</div>

</div>






