<div class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="cell small-12 medium-8 large-6 medium-offset-2 large-offset-3">
			<h2>Sign in</h2>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-inputs">
			    <%= f.input :email, required: false, autofocus: true %>
			    <%= f.input :password, required: false %>
			    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, "Log in" %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>