<div class="row align-center">
  <div class="column small-12 medium-12 large-12">
    <h2>My Dashboard</h2>
  </div>
        <div class="column small-12 medium-9 large-6">
        <p>
          <h3>Profile</h3>
          <p><b>Name:</b> <%= @profile.first_name %>
          <%= @profile.last_name %></p>
          <p><b>Birthday: </b><%= @profile.birthdate %></p>
          <p><b>Ethnicity: </b><%= @profile.ethnicity %></p>
          <p><b>Location: </b><%= @profile.location %></p>
          <p><b>Sector: </b><%= @profile.sector %></p>
          <p><b>Referral: </b><%= @profile.referral %></p>
          <p><b>Comments: </b><%= @profile.comment %></p>
          <p><%= @profile.contact_consent ? 'Do ' : 'Do Not ' %>contact me</p>
        </p>

        </div>

        <div class="column small-12 medium-3 large-2">
          <%= link_to 'Edit Profile', edit_profile_path(@profile) %> <br />
          <%= link_to "Change password", edit_lens_shifter_registration_path %>
            <% if current_lens_shifter.try(:admin?) %> <br />
              <%= link_to 'All Resources', fellow_resource_items_path %> <br />
              <%= link_to 'Google Drive', import_google_fellow_resource_items_path %> <br />
              <%= link_to 'Guides', fellow_guides_path %> <br />
              <%= link_to 'Streams', fellow_streams_path %> <br />
              <%= link_to 'Static Pages', fellow_static_pages_path %> <br />
              <br />
              <%= link_to 'Export CSV', export_csv_fellow_resource_items_path(format: 'csv'), class: 'button small' %> <br />
              
              <div class="inline-form">
                <%= form_tag import_csv_fellow_resource_items_path, multipart: true do %>
                  <%= file_field_tag :file, class: "show-for-sr" %>
                  <%= submit_tag "Import CSV", class: 'button small' %>
                <% end %>
              </div>
            <% end %>
        </div>

        <div class="column small-12 medium-12 large-4">
          <% if @profile.avatar.url.nil? %>
            <div class="avatar"><i class="fa fa-user fa-2x"></i></div>
          <% else %>
            <%= image_tag @profile.avatar.url, :alt => 'profile avatar' %>
          <% end %>
        </div>


</div>
