<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-10 large-10 medium-offset-1 large-offset-1">

      <h1>My Dashboard</h1>
      <p>
        <h1>My Profile</h1>
        <p><b>Name:</b> <%= @profile.first_name %>
        <%= @profile.last_name %></p>
        <p><b>Birthday: </b><%= @profile.birthdate %></p>
        <p><b>Ethnicity: </b><%= @profile.ethnicity %></p>
        <p><b>Location: </b><%= @profile.location %></p>
        <p><b>Sector: </b><%= @profile.sector %></p>
        <p><b>Referral: </b><%= @profile.referral %></p>
        <p><b>Comments: </b><%= @profile.comment %></p>
        <p><%= @profile.contact_consent ? 'Do ' : 'Do Not ' %>contact me</p>
      </p>

      <%= link_to 'Edit', edit_profile_path(@profile) %> |
      <%= link_to 'Back', profiles_path %> |
      <%= link_to 'Add Resource', new_fellow_resource_item_path %> |
      <%= link_to 'Google Drive', import_google_fellow_resource_items_path %> |
      <%= link_to 'Export CSV', export_csv_fellow_resource_items_path(format: 'csv') %> |
      <div class="inline-form">
        <%= form_tag import_csv_fellow_resource_items_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import Resources", class: 'button small' %>
        <% end %>
      </div>

  </div>
</div>
