
  <div class='footer'>
  	<div class='grid-x grid-padding-x grid-padding-y'>
  		<div class='small-12 medium-4 large-4 cell footer-cell'>
        <h6>Explore</h6>
    		<%= link_to image_tag('lensshift_beta_logo_white.png', alt:'lensShift logo', class: 'footer-logo footer-item'), root_path %>
        <%= link_to 'Home', root_path, class: "footer-item" %> 
        <%= link_to 'Library', resource_items_path, class: "footer-item" %> 
        <%= link_to 'Streams', streams_path, class: "footer-item" %> 
        <%= link_to 'Practical Guides', guides_path, class: "footer-item" %>
    	</div>
    	<div class='small-12 medium-4 large-4 cell footer-cell'>
        <h6>LensShift</h6>
        <%= link_to 'About', '/about', class: "footer-item" %> 
        <%= link_to 'Team', '/team', class: "footer-item" %>
        <%= link_to 'Manifesto', '/lensshift-manifesto', class: 'footer-item' %>
        <%= link_to 'Upcoming Features', '/upcoming-features', class: "footer-item" %>
        <%= link_to 'Blogs', blogs_path, class: "footer-item" %>
        <%= link_to 'Contact', '/contact', class: "footer-item" %>
        <%= link_to 'Terms and Conditions', '/terms-and-conditions', class: "footer-item" %>

    	</div>
    	<div class='small-12 medium-4 large-4 cell footer-cell'>
    		<h6>Social</h6>
        <%= link_to 'Facebook', 'https://www.facebook.com/lensshift/', target: '_blank', class: "footer-item" %>
        <%= link_to 'Twitter', 'https://www.twitter.com/lensshift_org/', target: '_blank', class: "footer-item" %>
        <a href="mailto:info@lensshift.org?subject=Mail from Our Site" class="footer-item">info@lensshift.org</a>
        <p class="footer-item">LensShift is a resource platform aimed at addressing misguided development and social impact work.</p>
    	</div>
    </div>
  </div>
