<div class="home-logo">
  <%= link_to image_tag('lensshift_beta_logo_black.png', alt:'lensShift logo'), root_path %>
</div>
<div class="top-bar" id="landing-top-bar">
    

  <div class="top-bar-left show-for-large">
    <ul class="menu">
      <li><%= link_to 'About', '/about', class: "link" %></li>
      <li><%= link_to 'Library', resource_items_path, class: "link" %></li>
      <li><%= link_to 'Streams', streams_path, class: "link" %></li>
      <li><%= link_to 'Practical Guides', guides_path, class: "link" %></li>
      <li><%= link_to 'Upcoming Features', '/upcoming-features', class: "link" %></li>
    </ul>
  </div>

  <div class="top-bar-right show-for-large">
    <ul class="menu">
      <% if lens_shifter_signed_in? %>
        <% if current_lens_shifter.profile.avatar.present? %>
          <li><div class="avatar"><%= link_to image_tag(current_lens_shifter.profile.avatar.url(:avatar), :alt => 'profile image', :title => current_lens_shifter.full_name), dashboard_path %></div></li>
        <% else %>
          <li>
            <%= link_to dashboard_path do %>
              <div class="avatar"><i class="fa fa-user fa-2x"></i></div>
            <% end %>  
          </li>
        <% end %>
        <li><%= link_to 'Sign Out', destroy_lens_shifter_session_path, method: :delete , class: "link" %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_lens_shifter_session_path , class: "link" %></li>
        <li><%= link_to 'Sign Up', new_lens_shifter_registration_path , class: "link" %></li>
      <% end %>
    </ul>
  </div>

  <div class="top-bar-right hide-for-large">
    <ul class="menu align-right">
      <% if lens_shifter_signed_in? && current_lens_shifter.profile.avatar.present? %>
        <li><div class="avatar"><%= link_to image_tag(current_lens_shifter.profile.avatar.url(:avatar), :alt => 'profile image', :title => current_lens_shifter.full_name), dashboard_path %></div></li>
        <li><i class="fa fa-bars menu-hamburger" v-on:click="showMenu = true"></i></li>
      
      <% elsif lens_shifter_signed_in? %>
        <li>
          <%= link_to dashboard_path , class: "link" do %>
            <div class="avatar"><i class="fa fa-user fa-2x"></i></div>
          <% end %> 
        </li>     
      <% else %>
        <li><%= link_to 'Sign In', new_lens_shifter_session_path, class: "link small-link" %></li>
      <% end %>
        <li><label class="hamburger" for="down-menu-toggle"><i class="fa fa-bars menu-hamburger link small-link"></i></label></li>
      
    </ul>
    <input id="down-menu-toggle" type="checkbox">
    <ul id="home-menu" class="vertical menu align-bottom">
      <li><%= link_to 'About', '/about', class: "link" %></li>
      <li><%= link_to 'Library', resource_items_path, class: "link" %></li>
      <li><%= link_to 'Streams', streams_path, class: "link" %></li>
      <li><%= link_to 'Practical Guides', guides_path, class: "link" %></li>
      <li><%= link_to 'Upcoming Features', '/upcoming-features', class: "link" %></li>
    </ul>
  </div>
</div>
