<side-menu inline-template>
  <div data-sticky-container>
    <transition v-on:enter="openMenu" v-on:leave="closeMenu">
    <div v-show="showMenu" class="side-menu">
      <ul class="vertical menu">
        <li><i class="fa fa-times side-link" v-on:click="showMenu = false"></i></li>
        <li><%= link_to 'About', '/about', class: "side-link" %></li>
        <li><%= link_to 'Library', resource_items_path, class: "side-link" %></li>
        <li><%= link_to 'Streams', streams_path, class: "side-link" %></li>
        <li><%= link_to 'Practical Guides', guides_path, class: "side-link" %></li>
        <li><%= link_to 'Upcoming Features', '/upcoming-features', class: "side-link" %></li>
        <li><%= link_to 'Contacts', '#', class: "side-link" %></li>
      <% if lens_shifter_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_lens_shifter_session_path, method: :delete, class: "side-link" %></li>
      <% end %>

      </ul>
    </div>
    </transition>
  

  <div class="top-bar" id="ls-top-bar" style="width:100%">
    <div class="top-bar-left">
      <ul class="menu hide-for-large navbar-small">
        <li><%= link_to image_tag('lensshift_beta_logo_black.png', alt:'lensShift logo', class: 'logo'), root_path %></li>
        
        <% if lens_shifter_signed_in? && current_lens_shifter.profile&.avatar.present? %>
          <li class="link"><div class="avatar"><%= link_to image_tag(current_lens_shifter.profile&.avatar.url(:avatar), :alt => 'profile image', :title => current_lens_shifter.full_name), dashboard_path %></div><i class="fa fa-bars menu-hamburger" v-on:click="showMenu = true"></i></li>
        
        <% elsif lens_shifter_signed_in? %>
          <li class="link">
            <%= link_to dashboard_path do %>
              <div class="avatar"><i class="fa fa-user fa-2x"></i></div>
            <% end %>  
          <i class="fa fa-bars menu-hamburger" v-on:click="showMenu = true"></i></li>
          
        <% else %>
          <li class="link"><%= link_to 'Sign In', new_lens_shifter_session_path %><%= link_to 'Sign Up', new_lens_shifter_registration_path %><i class="fa fa-bars menu-hamburger" v-on:click="showMenu = true"></i></li>
        <% end %>
        
      </ul>

      <ul class="menu show-for-large">
        <li><%= link_to image_tag('lensshift_beta_logo_black.png', alt:'lensShift logo', class: 'logo'), root_path %></li>
        <li><%= link_to 'About', '/about', class: "link" %></li>
        <li><%= link_to 'Library', resource_items_path, class: "link" %></li>
        <li><%= link_to 'Streams', streams_path, class: "link" %></li>
        <li><%= link_to 'Practical Guides', guides_path, class: "link" %></li>
        <li><%= link_to 'Upcoming Features', '/upcoming-features', class: "link" %></li>
      </ul>
    </div>

    <div class="top-bar-right show-for-large">
      <ul class="menu">
        <% if lens_shifter_signed_in? %>
          <% if current_lens_shifter.profile&.avatar.present? %>
            <li><div class="avatar"><%= link_to image_tag(current_lens_shifter.profile&.avatar.url(:avatar), :alt => 'profile image', :title => current_lens_shifter.full_name), dashboard_path %></div></li>
          <% else %>
            <li>
              <%= link_to dashboard_path do %>
                <div class="avatar"><i class="fa fa-user fa-2x"></i></div>
              <% end %>  
            </li>
          <% end %>
          <li><%= link_to 'Sign Out', destroy_lens_shifter_session_path, method: :delete, class: "link" %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_lens_shifter_session_path, class: "link" %></li>
          <li><%= link_to 'Sign Up', new_lens_shifter_registration_path, class: "link" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  </div>
</side-menu>