<!DOCTYPE html>
<html lang="en">
  <head>
    <%= google_tag_manager_script_tag(:lensshift) %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application" %>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'Resource Hub for Responsible Social Impact - LensShift' %>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#00baba"
        },
        "button": {
          "background": "#2B2D2E"
        }
      },
      "content": {
        "href": "/terms-and-conditions"
      }
    })});
    </script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body infinite-wrapper>
    <%= google_tag_manager_noscript_tag(:lensshift) %>
   
    <div id="app">
       <%= render partial: "layouts/navbar" %>
       <div class='grid-container fluid' id='main-container'>
          <% if notice.present? || flash[:notice] %>
          <p class="callout primary" data-closable><%= notice %></p>
          <% end %>

          <% if alert.present? || flash[:error] %>
          <div class="callout alert" data-closable><%= alert || flash[:error] %></div>
        <% end %>

        <%= yield %>
       
       </div>
       <div class='push'></div>
       <%= render partial: 'layouts/footer' %>
    </div>
    

  </body>
</html>
